# Task 1

<img src="ex1.png" alt="Task 1 pic" width="550" style="float:left"/>

In [1]:
SQL_QUERY = '''
--creating row numbers
WITH matrices_numerate AS (
  SELECT ROW_NUMBER() OVER(ORDER BY matrix) AS rn,* 
  FROM public.matrices
)
  
--aggregation of transposed rows into transpose matrices
SELECT rn, ARRAY_AGG(new_rows)
FROM (
  --generating transposed rows with new column indices
  SELECT rn, j, ARRAY_AGG(matrix[i][j]) AS new_rows
  FROM matrices_numerate AS m
  CROSS JOIN generate_subscripts(m.matrix, 1) AS i
  CROSS JOIN generate_subscripts(m.matrix, 2) AS j
  GROUP BY rn, j
  ORDER BY rn ASC, j ASC
) t
GROUP BY rn
'''

## [Query result](https://dbfiddle.uk/C9ZOhIei):

<img src="query_result.png" alt="Query" width="700" style="float:left"/>

## More detailed explanation of the sql-request with comments [here](https://dbfiddle.uk/OSFO1SP5)

# Task 2

<img src="ex2.png" alt="Task 2 pic" width="500" style="float:left"/>

<img src="df_picture.png" alt="Task 2 pic" width="900" style="float:left"/>

Шаги:
1. Проверить наблюдения с отсутствующими значениями
2. Убрать признаки с большим количеством NA
3. Проверить, что данные собраны нормально (выбросы)
4. Заменить выбросы/аномалии на среднее, медиану (для количественных значений) или моду (для категориальных) если потребуется
5. Выбросить неинформативные/нерелевантные признаки или же дубликаты

In [2]:
import pandas as pd
import warnings

from pandas_profiling import ProfileReport

warnings.filterwarnings("ignore")

In [3]:
df = pd.read_csv('data/ifood_df.csv')

Отсортирую колонки для удобства

In [4]:
col_sorted = list(df.columns)
col_sorted.sort()

In [5]:
df_sorted_col = df[col_sorted]

Посмотрю, есть ли отсутствующие значения и формат самих значений

In [6]:
df_sorted_col.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2205 entries, 0 to 2204
Data columns (total 39 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   AcceptedCmp1          2205 non-null   int64
 1   AcceptedCmp2          2205 non-null   int64
 2   AcceptedCmp3          2205 non-null   int64
 3   AcceptedCmp4          2205 non-null   int64
 4   AcceptedCmp5          2205 non-null   int64
 5   AcceptedCmpOverall    2205 non-null   int64
 6   Age                   2205 non-null   int64
 7   Complain              2205 non-null   int64
 8   Customer_Days         2205 non-null   int64
 9   Income                2205 non-null   float64
 10  Kidhome               2205 non-null   int64
 11  MntFishProducts       2205 non-null   int64
 12  MntFruits             2205 non-null   int64
 13  MntGoldProds          2205 non-null   int64
 14  MntMeatProducts       2205 non-null   int64
 15  MntRegularProds       2205 non-null   int64
 16  MntSweetProducts      2205 non-null   int64
 17  MntTotal              2205 non-null   int64
 18  MntWines              2205 non-null   int64
 19  NumCatalogPurchases   2205 non-null   int64
 20  NumDealsPurchases     2205 non-null   int64
 21  NumStorePurchases     2205 non-null   int64
 22  NumWebPurchases       2205 non-null   int64
 23  NumWebVisitsMonth     2205 non-null   int64
 24  Recency               2205 non-null   int64
 25  Response              2205 non-null   int64
 26  Teenhome              2205 non-null   int64
 27  Z_CostContact         2205 non-null   int64
 28  Z_Revenue             2205 non-null   int64
 29  education_2n Cycle    2205 non-null   int64
 30  education_Basic       2205 non-null   int64
 31  education_Graduation  2205 non-null   int64
 32  education_Master      2205 non-null   int64
 33  education_PhD         2205 non-null   int64
 34  marital_Divorced      2205 non-null   int64
 35  marital_Married       2205 non-null   int64
 36  marital_Single        2205 non-null   int64
 37  marital_Together      2205 non-null   int64
 38  marital_Widow         2205 non-null   int64
dtypes: float64(1), int64(38)
memory usage: 672.0 KB

NaN'ов нет

Посмотрю детальнее на данные колонок

In [7]:
df_sorted_col.describe().T

,count,mean,std,min,25%,50%,75%,max
AcceptedCmp1,2205.0,0.064399,0.245518,0.0,0.0,0.0,0.0,1.0
AcceptedCmp2,2205.0,0.013605,0.115872,0.0,0.0,0.0,0.0,1.0
AcceptedCmp3,2205.0,0.073923,0.261705,0.0,0.0,0.0,0.0,1.0
AcceptedCmp4,2205.0,0.074376,0.262442,0.0,0.0,0.0,0.0,1.0
AcceptedCmp5,2205.0,0.073016,0.260222,0.0,0.0,0.0,0.0,1.0
AcceptedCmpOverall,2205.0,0.299320,0.680440,0.0,0.0,0.0,0.0,4.0
Age,2205.0,51.095692,11.705801,24.0,43.0,50.0,61.0,80.0
Complain,2205.0,0.009070,0.094827,0.0,0.0,0.0,0.0,1.0
Customer_Days,2205.0,2512.718367,202.563647,2159.0,2339.0,2515.0,2688.0,2858.0
Income,2205.0,51622.094785,20713.063826,1730.0,35196.0,51287.0,68281.0,113734.0
Kidhome,2205.0,0.442177,0.537132,0.0,0.0,0.0,1.0,2.0
MntFishProducts,2205.0,37.756463,54.824635,0.0,3.0,12.0,50.0,259.0
MntFruits,2205.0,26.403175,39.784484,0.0,2.0,8.0,33.0,199.0
MntGoldProds,2205.0,44.057143,51.736211,0.0,9.0,25.0,56.0,321.0
MntMeatProducts,2205.0,165.312018,217.784507,0.0,16.0,68.0,232.0,1725.0
MntRegularProds,2205.0,518.707483,553.847248,-283.0,42.0,288.0,884.0,2458.0
MntSweetProducts,2205.0,27.128345,41.130468,0.0,1.0,8.0,34.0,262.0
MntTotal,2205.0,562.764626,575.936911,4.0,56.0,343.0,964.0,2491.0
MntWines,2205.0,306.164626,337.493839,0.0,24.0,178.0,507.0,1493.0
NumCatalogPurchases,2205.0,2.645351,2.798647,0.0,0.0,2.0,4.0,28.0
NumDealsPurchases,2205.0,2.318367,1.886107,0.0,1.0,2.0,3.0,15.0
NumStorePurchases,2205.0,5.823583,3.241796,0.0,3.0,5.0,8.0,13.0
NumWebPurchases,2205.0,4.100680,2.737424,0.0,2.0,4.0,6.0,27.0
NumWebVisitsMonth,2205.0,5.336961,2.413535,0.0,3.0,6.0,7.0,20.0
Recency,2205.0,49.009070,28.932111,0.0,24.0,49.0,74.0,99.0
Response,2205.0,0.151020,0.358150,0.0,0.0,0.0,0.0,1.0
Teenhome,2205.0,0.506576,0.544380,0.0,0.0,0.0,1.0,2.0
Z_CostContact,2205.0,3.000000,0.000000,3.0,3.0,3.0,3.0,3.0
Z_Revenue,2205.0,11.000000,0.000000,11.0,11.0,11.0,11.0,11.0
education_2n Cycle,2205.0,0.089796,0.285954,0.0,0.0,0.0,0.0,1.0
education_Basic,2205.0,0.024490,0.154599,0.0,0.0,0.0,0.0,1.0
education_Graduation,2205.0,0.504762,0.500091,0.0,0.0,1.0,1.0,1.0
education_Master,2205.0,0.165079,0.371336,0.0,0.0,0.0,0.0,1.0
education_PhD,2205.0,0.215873,0.411520,0.0,0.0,0.0,0.0,1.0
marital_Divorced,2205.0,0.104308,0.305730,0.0,0.0,0.0,0.0,1.0
marital_Married,2205.0,0.387302,0.487244,0.0,0.0,0.0,1.0,1.0
marital_Single,2205.0,0.216327,0.411833,0.0,0.0,0.0,0.0,1.0
marital_Together,2205.0,0.257596,0.437410,0.0,0.0,0.0,1.0,1.0
marital_Widow,2205.0,0.034467,0.182467,0.0,0.0,0.0,0.0,1.0

## Значение фичей:

<img src="data/dictionary.png" alt="dictionary" width="800" style="float:left">

Данные на картинке и те, которые есть в датафрейме немного отличаются - подведу итоги

* Всего 6 видов продуктов: 
    * Рыба
    * Мясо
    * Фрукты
    * Сладости
    * Вина


* Которые в свою очередь делятся по премиальности: 
    * regular-продукты
    * gold-продукты


* Продаются по 4 каналам: 
    * магазины
    * по дисконту
    * каталоги
    * вебсайт


Какие есть данные по покупателям:
* Принял ли офер какой-либо из рекламных кампаний
* Возраст
* Жаловался ли за последние 2 года
* Сколько дней назад клиент зарегистрировался в компании?
* Траты в разрезе типов продуктов
* Траты в разрезе премиальности 
* Количество покупок в разрезе по каналу продажи
* Дней с прошлой покупки
* Посещений вебсайта за месяц
* Дней с последней покупки
* Сколько детей-подростков
* Образование
* Семейный статус

Ещё есть колонки без описания: **Z_CostContact** и **Z_revenue** которые не несут дополнительной информации, так как имеют одинаковое значение во всех строках — в дальнейшем не буду их использовать

In [8]:
df_sorted_col.columns

Index(['AcceptedCmp1', 'AcceptedCmp2', 'AcceptedCmp3', 'AcceptedCmp4',
       'AcceptedCmp5', 'AcceptedCmpOverall', 'Age', 'Complain',
       'Customer_Days', 'Income', 'Kidhome', 'MntFishProducts', 'MntFruits',
       'MntGoldProds', 'MntMeatProducts', 'MntRegularProds',
       'MntSweetProducts', 'MntTotal', 'MntWines', 'NumCatalogPurchases',
       'NumDealsPurchases', 'NumStorePurchases', 'NumWebPurchases',
       'NumWebVisitsMonth', 'Recency', 'Response', 'Teenhome', 'Z_CostContact',
       'Z_Revenue', 'education_2n Cycle', 'education_Basic',
       'education_Graduation', 'education_Master', 'education_PhD',
       'marital_Divorced', 'marital_Married', 'marital_Single',
       'marital_Together', 'marital_Widow'],
      dtype='object')

Ну и сразу как по описанию фичей, так и по describe() видно, что есть категориальные значения, над которыми сделали onehotencoding - Response, Complain. Возможно, и AcceptedCmp, но, скорее всего должны быть строки, где сразу в нескольких кампаниях стоит "1" - проверю сразу

In [9]:
df_sorted_col[(df_sorted_col['AcceptedCmp1'] == 1) & (df_sorted_col['AcceptedCmp3'] == 1)].shape

(24, 39)

In [10]:
df_sorted_col[(df_sorted_col['AcceptedCmp1'] == 1) & (df_sorted_col['AcceptedCmp2'] == 1)].sample()

,AcceptedCmp1,AcceptedCmp2,AcceptedCmp3,AcceptedCmp4,AcceptedCmp5,AcceptedCmpOverall,Age,Complain,Customer_Days,Income,...,education_2n Cycle,education_Basic,education_Graduation,education_Master,education_PhD,marital_Divorced,marital_Married,marital_Single,marital_Together,marital_Widow
1896,1,1,0,1,1,4,64,0,2776,91249.0,...,0,0,1,0,0,0,0,1,0,0

Так и есть

Пробегусь ещё глазами по случайным сэмплам таблицы

In [11]:
df_sorted_col.sample(5).T

                         1537     806      1180     16       584
AcceptedCmp1              0.0      0.0      0.0      0.0      0.0
AcceptedCmp2              0.0      0.0      0.0      0.0      0.0
AcceptedCmp3              0.0      0.0      0.0      0.0      0.0
AcceptedCmp4              0.0      1.0      0.0      0.0      0.0
AcceptedCmp5              0.0      1.0      0.0      0.0      0.0
AcceptedCmpOverall        0.0      2.0      0.0      0.0      0.0
Age                      32.0     66.0     43.0     74.0     60.0
Complain                  0.0      0.0      0.0      0.0      0.0
Customer_Days          2764.0   2577.0   2450.0   2826.0   2826.0
Income                24645.0  93404.0  54809.0  37760.0  62807.0
Kidhome                   1.0      1.0      1.0      0.0      0.0
MntFishProducts           4.0     20.0     13.0    150.0     10.0
MntFruits                 3.0     15.0      6.0      5.0     28.0
MntGoldProds              0.0     15.0     22.0     28.0     99.0
MntMeatProducts           4.0    287.0     57.0     38.0    135.0
MntRegularProds          17.0   1586.0    130.0    261.0    621.0
MntSweetProducts          1.0      0.0     13.0     12.0     21.0
MntTotal                 17.0   1601.0    152.0    289.0    720.0
MntWines                  5.0   1279.0     63.0     84.0    526.0
NumCatalogPurchases       0.0      4.0      1.0      1.0      3.0
NumDealsPurchases         1.0      3.0      4.0      2.0      3.0
NumStorePurchases         2.0      7.0      5.0      6.0     12.0
NumWebPurchases           1.0      3.0      2.0      4.0      5.0
NumWebVisitsMonth         8.0      5.0      4.0      7.0      5.0
Recency                  16.0     97.0      0.0     20.0     83.0
Response                  0.0      0.0      0.0      0.0      0.0
Teenhome                  0.0      2.0      1.0      0.0      1.0
Z_CostContact             3.0      3.0      3.0      3.0      3.0
Z_Revenue                11.0     11.0     11.0     11.0     11.0
education_2n Cycle        0.0      0.0      0.0      0.0      0.0
education_Basic           0.0      0.0      0.0      0.0      0.0
education_Graduation      1.0      1.0      1.0      1.0      1.0
education_Master          0.0      0.0      0.0      0.0      0.0
education_PhD             0.0      0.0      0.0      0.0      0.0
marital_Divorced          0.0      0.0      0.0      0.0      0.0
marital_Married           1.0      1.0      1.0      0.0      0.0
marital_Single            0.0      0.0      0.0      0.0      0.0
marital_Together          0.0      0.0      0.0      1.0      1.0
marital_Widow             0.0      0.0      0.0      0.0      0.0

Проверю на выбросы

In [12]:
def outliers(dataframe: pd.DataFrame, columns: str) -> dict[str, int]:
    out_dict = {}
    for col in columns:
        q1 = dataframe[col].quantile(0.25)
        q3 = dataframe[col].quantile(0.75)
        iqr = q3 - q1
        
        outliers = dataframe[(dataframe[col] > (q3 + 1.5*iqr)) | (dataframe[col] < (q1 - 1.5*iqr))]
        out_dict[col] = outliers.shape[0]
        print(outliers[[col]].sort_values(by=col, ascending=False))
    return out_dict

In [13]:
mnt_cols = ['MntWines', 'MntFruits', 'MntMeatProducts', 
            'MntFishProducts', 'MntSweetProducts', 'MntGoldProds', 
            'NumDealsPurchases', 'NumWebPurchases', 'NumCatalogPurchases', 
            'NumStorePurchases', 'NumWebVisitsMonth']

In [14]:
outliers(df, mnt_cols)

      MntWines
1723      1493
542       1492
804       1492
2066      1486
526       1478
897       1478
1935      1462
1616      1459
1463      1449
480       1396
967       1394
506       1379
150       1349
102       1332
1896      1324
1032      1315
2095      1311
850       1308
1433      1302
1171      1298
970       1296
498       1288
981       1285
1927      1285
407       1285
806       1279
1966      1276
1467      1259
917       1253
1552      1252
413       1248
2039      1245
281       1241
449       1239
      MntFruits
1455        199
835         199
1483        197
100         194
1501        194
...         ...
685          80
2036         80
1139         80
909          80
334          80

[245 rows x 1 columns]
      MntMeatProducts
20               1725
1337              984
1782              981
439               974
2077              968
...               ...
274               565
298               561
1503              560
669               559
1697              558

[170 rows x 1 columns]
      MntFishProducts
1179              259
1673              258
1619              258
1773              258
201               254
...               ...
108               123
789               123
2046              121
695               121
52                121

[222 rows x 1 columns]
      MntSweetProducts
1872               262
616                198
1488               197
1645               196
1233               195
...                ...
1470                85
1921                85
446                 84
252                 84
1902                84

[238 rows x 1 columns]
      MntGoldProds
1949           321
1780           291
1307           262
703            249
2140           248
...            ...
2142           129
2138           129
1762           128
2118           128
1623           127

[204 rows x 1 columns]
      NumDealsPurchases
20                   15
1820                 15
1225                 15
1022                 15
415                  15
...                 ...
366                   7
1288                  7
1436                  7
1455                  7
2201                  7

[82 rows x 1 columns]
      NumWebPurchases
1872               27
1949               25
1780               23
      NumCatalogPurchases
20                     28
95                     11
1914                   11
1880                   11
1802                   11
1719                   11
1467                   11
1440                   11
1427                   11
1192                   11
964                    11
914                    11
757                    11
744                    11
618                    11
609                    11
574                    11
569                    11
274                    11
1932                   11
Empty DataFrame
Columns: [NumStorePurchases]
Index: []
      NumWebVisitsMonth
9                    20
754                  20
1225                 20
1022                 19
1820                 19
1307                 17
961                  14
1499                 14

{'MntWines': 34,
 'MntFruits': 245,
 'MntMeatProducts': 170,
 'MntFishProducts': 222,
 'MntSweetProducts': 238,
 'MntGoldProds': 204,
 'NumDealsPurchases': 82,
 'NumWebPurchases': 3,
 'NumCatalogPurchases': 20,
 'NumStorePurchases': 0,
 'NumWebVisitsMonth': 8}

Не сказал бы, что они мега существенные и нужно с ними что-то делать - оставляю как есть

Посмотрю более детально через pandas-profiling

In [15]:
#profile = ProfileReport(df_sorted_col)
#profile

In [16]:
df_sorted_col[df_sorted_col['MntRegularProds'] < 0].T

                        1307    1780    1949
AcceptedCmp1             0.0     0.0     0.0
AcceptedCmp2             0.0     0.0     0.0
AcceptedCmp3             0.0     0.0     0.0
AcceptedCmp4             0.0     0.0     0.0
AcceptedCmp5             0.0     0.0     0.0
AcceptedCmpOverall       0.0     0.0     0.0
Age                     38.0    54.0    51.0
Complain                 0.0     0.0     0.0
Customer_Days         2358.0  2363.0  2426.0
Income                6560.0  7144.0  4428.0
Kidhome                  0.0     0.0     0.0
MntFishProducts          4.0     5.0     2.0
MntFruits               11.0     4.0     4.0
MntGoldProds           262.0   291.0   321.0
MntMeatProducts         26.0    33.0    12.0
MntRegularProds       -151.0  -166.0  -283.0
MntSweetProducts         3.0     2.0     4.0
MntTotal               111.0   125.0    38.0
MntWines                67.0    81.0    16.0
NumCatalogPurchases      0.0     1.0     0.0
NumDealsPurchases        0.0     0.0     0.0
NumStorePurchases        1.0     1.0     0.0
NumWebPurchases          1.0    23.0    25.0
NumWebVisitsMonth       17.0     0.0     1.0
Recency                  2.0    92.0     0.0
Response                 0.0     0.0     0.0
Teenhome                 0.0     2.0     1.0
Z_CostContact            3.0     3.0     3.0
Z_Revenue               11.0    11.0    11.0
education_2n Cycle       0.0     0.0     0.0
education_Basic          0.0     0.0     0.0
education_Graduation     0.0     0.0     1.0
education_Master         1.0     0.0     0.0
education_PhD            0.0     1.0     0.0
marital_Divorced         0.0     0.0     0.0
marital_Married          0.0     0.0     1.0
marital_Single           1.0     1.0     0.0
marital_Together         0.0     0.0     0.0
marital_Widow            0.0     0.0     0.0

Датасет довольно чистенький, пропущенных значений нет. Без серьёзных выбросов. Из аномалий - несколько отрицательных значений MntRegularProds(возможно, вернули товар). Сделаю обратный OneHotEncoding для дальнейшего удобства и, может, для некоторых фичей Total через сумму. В дальнейшей обработке, помимо сказанного и сделанного нужды не вижу. 


Визуализации сделаю уже в Tableau

Идеи:
* OneHotEncoding reverse для дальнейшего удобства визуализаций в Tableau
* ChildrenTotal как сумма Kidhome и Teenager

Tableau:
* Общие распределения
* Посмотреть распределение мер в разрезе
    * Типа продуктов
    * Премиальности
    * Канала продажи
    * Образования
    * Количества детей
* Корреляции между мерами

Reverse OHE:

In [17]:
marital_cols = [col for col in df.columns if('marital' in col)]
ed_cols = [col for col in df.columns if('education' in col)]

In [18]:
#Реверс OHE по нужным колонкам + убираю префиксы Marital_, Education_
marital = df_sorted_col[marital_cols].idxmax(axis=1).\
    apply(lambda x: x.split('_')[1])
education = df_sorted_col[ed_cols].idxmax(axis=1).\
    apply(lambda x: x.split('_')[1])

In [19]:
df_sorted_col['Marital'] = marital
df_sorted_col['Education'] = education

In [20]:
df_sorted_col['Marital']

0         Single
1         Single
2       Together
3       Together
4        Married
          ...
2200     Married
2201    Together
2202    Divorced
2203    Together
2204     Married
Name: Marital, Length: 2205, dtype: object

In [21]:
df_sorted_col[['Marital', 'marital_Single', 'marital_Together']].head()

    Marital  marital_Single  marital_Together
0    Single               1                 0
1    Single               1                 0
2  Together               0                 1
3  Together               0                 1
4   Married               0                 0

ChildrenTotal как сумма Kidhome и Teenager:

In [22]:
df_sorted_col['ChildrenTotal'] = df_sorted_col['Kidhome'] + df_sorted_col['Teenhome']

Сохраню итоговый датафрейм

In [23]:
# df_sorted_col.to_csv('data/ifood_processed.csv')

## [Дашборд в Tableau](https://public.tableau.com/views/TestTask_16673711996610/Dashboard1?:language=en-US&publish=yes&:display_count=n&:origin=viz_share_link)

## Выводы:

* Конкретный Store посещают больше люди с высшим образованием. Чем образованнее человек, тем выше траты и средний чек. 
* Принятие рекламной кампании положительно коррелирует с доходом и отрицательно коррелирует с наличием детей
* Доход косвенно влияет на сумма расходов и имеет отрицательную корреляцию с количеством детей дома. Сумма, потраченная на вино, связана с потраченной суммой на мясо и его покупку в каталоге или в магазинах. Количество детей отрицательно связано с доходом, общей суммой расходов и, следовательно, с вином. Более высокий доход также связан с принятием кампаний
* Наиболее продаваемыми продуктами являются вина и мясо (средний покупатель тратит больше всего на эти товары). Можно подумать над созданием рекомендательной системы мяса к вину и наоборот


* Предложения:
    * Можно создать несколько потоков целевых рекламных кампаний:
        * Один из которых нацелен на людей с высоким доходом без детей/подростков. Акцент на элитарность алкоголя, мяса и рыбы. Тем более, что есть продукты категории Gold 
        * Другой – на людей с низким доходом, имеющих детей/подростков
    * Либо сосредоточить рекламные кампании на увеличении продаж менее популярных товаров
    * Сосредоточить рекламные кампании на более успешных каналах, чтобы охватить больше клиентов

  
    
* Неэффективные каналы совершения покупок — это покупки по каталогу и через дисконт. Наиболее эффективными каналами являются покупки в Интернете и в магазине (т. е. средний покупатель совершил больше всего покупок через эти каналы)
    * Лучше сосредоточить рекламные кампании на более успешных каналах, чтобы охватить больше клиентов